<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shendun.hotel.springbootproject.generation.mapper.PersonInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shendun.hotel.springbootproject.generation.entity.PersonInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="identifyid" property="identifyid" />
        <result column="roomid" property="roomid" />
        <result column="acctime" property="acctime" />
        <result column="accdays" property="accdays" />
        <result column="version" property="version" />
        <result column="isacc" property="isacc" />
        <result column="checkouttime" property="checkouttime" />
    </resultMap>

</mapper>
